fastapi
uvicorn[standard]
sqlalchemy
anthropic
python-dotenv
pydantic
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
twilio
cryptography
squareup
stripe
hubspot-api-client
gql[requests]
httpx
